/* -------------------------------------------------General */
* {
    font-size: 10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #aeafa4;
}

h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.container {
    height: 40vh;
    margin-top: 22rem;
}

.hidden {
    visibility: hidden;
}

/* -------------------------------------------------Modal/Manual */
.btn {
    position: absolute;
    top: 8.5rem;
    left: 75vw;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0);
}

.btn:hover {
    color: #fafafa;
    background-color: black;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 10rem;
    background-color: rgba(0, 0, 0, .4);
}

.modal-content {
    background-color: #fafafa;
    margin: auto;
    padding: 2rem;
    width: 30%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    transition: all .1s;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.desktop-manual {
    display: block;
    font-family: 'Press Start 2P', cursive;
    margin-left: 10%;
    line-height: 3.2rem;
}

.desktop-manual ul {
    list-style: none;
}

.desktop-manual ul li {
    font-size: 1.5rem;
}

.mobile-manual {
    display: none;
}

/* -------------------------------------------------Console */
#console {
    display: flex;
    justify-content: center;
}

svg {
    position: absolute;
    z-index: -1;
    transform: translateX(-.25rem);
    transform: scale(1.7);
    margin-top: 2rem;
}

/* -------------------------------------------------Game Scene */
#game-scene {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -5rem auto;
    height: 28.85rem;
    margin-left: .75rem;
}

/* -------------------------------------------------Animations */
/* D-Pad Left */
.d-pad-left-animation {
    animation: d-pad-left .025s ease-out;
    animation-fill-mode: forwards;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes d-pad-left {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(-.2rem);
    }
}

/* D-Pad Right */
.d-pad-right-animation {
    animation: d-pad-right .025s ease-out;
    animation-fill-mode: forwards;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes d-pad-right {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(.2rem);
    }
}

/* D-Pad Up */
.d-pad-up-animation {
    animation: d-pad-up .025s ease-out;
    animation-fill-mode: forwards;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes d-pad-up {
    from {
        transform: translateY(0)
    }
    to {
        transform: translateY(-.2rem);
    }
}

/* D-Pad Down */
.d-pad-down-animation {
    animation: d-pad-down .025s ease-out;
    animation-fill-mode: forwards;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes d-pad-down {
    from {
        transform: translateY(0)
    }
    to {
        transform: translateY(.2rem);
    }
}

/* A/B Buttons */
.a-b-button-animation {
    animation: a-b-button .025s ease-out;
    animation-fill-mode: forwards;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes a-b-button {
    from {
        transform: translate(0);
    }
    to {
        transform: translate(-.15rem, .15rem);
    }
}

/* Start/Select Buttons */
.start-select-button-animation {
    animation: start-select-button .025s ease-out;
    animation-fill-mode: forwards;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes start-select-button {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.95);
    }
}

/* -------------------------------------------------Media Queries */
@media screen and (max-width: 1238px) {
    #console {
        margin-top: 30rem;
    }


    .modal-content {
        width: 50%
    }

    .btn {
        margin-top: 1.5rem;
        top: 2rem;
        left: 50vw;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 992px) {
    .container {
        height: 1vh;
        margin-top: 19.5vh;
    }
    
    .btn {
        top: 2rem;
        left: 50vw;
        transform: translateX(-50%);
    }

    .modal-content {
        width: 85%;
    }
    
    .desktop-manual {
        display: none;
    }

    .mobile-manual {
        display: block;
        font-family: 'Press Start 2P', cursive;
        margin-left: 3%;
        line-height: 3.2rem;
    }

    .mobile-manual ul {
        list-style: none;
    }
    
    #console {
        margin-top: 10rem;
    }

    svg {
        position: absolute;
    }
}

@media screen and (max-width: 595px) {
    .container {
        margin-top: 0rem;
    }
    
    #console {
        margin-top: 10rem;
    }

    svg {
        transform: scale(.96);
        margin-top: 0;
    }

    #game-scene {
        margin: 2.45rem 0 0 .6rem;
    }
}