/* General */
* {
    font-size: 10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
}

#console {
    display: flex;
    justify-content: center;
    margin-top: 20rem;
}

svg {
    position: absolute;
    z-index: -1;
    transform: translateX(-.25rem);
}

#gameScene {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

/* Animations */
.d-pad-left-animation {
    animation: d-pad-left 2s ease-in-out;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes d-pad-left {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}